<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
	<footer>
		<div class="container">
			<p>&copy; 2025 Lavablock. All rights reserved.</p>
		</div>
	</footer>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	body, footer {
		margin: auto;
		width: 50em;
	}

	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-block: 10rem 0;
	}

	footer .container {
		text-align: center;
	}
</style>
